<!--bottom_nav.ejs-->
<!--Julian Lawrence Manahan-->
<!--301148396-->
<!--October 1st, 2021-->
<!--Footer Section-->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark" style="background-color: #E6E6FA;">
      <h6 class ="display-8"> &copy; Copyright 2021, All Rights reserved.</h6>
    </nav>
  </footer>