<!--aboutme.ejs-->
<!--Julian Lawrence Manahan-->
<!--301148396-->
<!--October 1st, 2021-->
img src="/images/profilephoto.jpg" alt="My Photo!" width="600"><br><br><br>
<h3>General Knowledge:</h3>
<p>My name is Julian Manahan, and I am 19 years old and am currently attending Centennial College. I was born on September 27th, 2002 in the Philippines, and moved to Canada in 
    2010. This is my third semester and final year of Software Engineering Technician in Centennial College, and I've really come to enjoy what was taught to me during this past year.
</p>
<h3>Hobbies and Interests</h3>
<p>Some of my hobbies and interests include playing video games, reading financial literature, and daily exercise, ranging from sports to high-intensity workout sessions. I also enjoy
    watching anime, investments and especially learning about others, or new ideas I never knew about!
</p>