<!--contact.ejs-->
<!--Julian Lawrence Manahan-->
<!--301148396-->
<!--October 1st, 2021-->
<h2>Contact Information:</h2>
<table border="1">
    <tr>
        <th>Name </th> 
        <th>Phone Number </th> 
        <th>Email </th>
        <th>Student Number </th>
    </tr>
    <tr>
        <td>Julian Manahan</td>
        <td>(647) 546-5162</td>
        <td>julianlsmanahan@gmail.com</td>
        <td>301148396</td>
    </tr>
</table> <br><br><br>

<h3>Contact Me:</h3>
<form> 
    <p>First Name: </p><input type="text" size="50">
    <p>Last Name: </p><input type="text" size="50">
    <p>Number: </p><input type="text" size="50">
    <p>Email: </p><input type="text" size="50">
    <p>Message: </p><input type="text" size="50"> <br>
    <input type="submit" value="Submit Form"> <br><br> <p>Click <a href="/home">here</a> to go home</p>
</form>