<!--Home.ejs-->
<!--Julian Lawrence Manahan-->
<!--301148396-->
<!--October 1st, 2021-->
<div>
    <br><br><p>Hi there! My name is Julian Lawrence Manahan, and this is my very first online server website! 
        <br>If you would like to learn more about me, you can click <a href="/about">here</a> to learn more about me.
    </p> <br><br>
    <h2>Mission Statement</h2>
    <p>This website is just a website about me! The projects I've done, possible Services I can offer, and how to contact me if needed.</p>
</div>