<!--projects.ejs-->
<!--Julian Lawrence Manahan-->
<!--301148396-->
<!--October 1st, 2021-->
<div class="container">
<h2>First Project: Creating a Detailed Website Outlook (COMP 125)</h2>
<img src="/images/project1.png" alt="First Project">
<p>This was my very first assignment in my second semester of Software Engineering. I wanted to present this because this was where I decided to maximize my efforts
    in using CSS, and I was really able to play around with the background, the navigation and text colours. This is the first project I was really proud of, since I liked the look
    of the final result.
    (It's a bit difficult to see because I used Opera's Dark Mode to view this website, so sorry about that.)
</p>
<h2>Second Project: Creating Java Objects (COMP 228)</h2>
<img src="/images/project2.png" alt="Second Project">
<p>This was my first assignment in semester three's Java Programming class. I wanted to showcase this because I would like to say that I am proficient in Java, and can create objects
    like this with ease if I'm frequently coding in the same language. This also provided some flashbacks to high school, where I was able to learn about Java for two years straight
    thanks to my Computer Science classes, and that's why I wanted to showcase this Java Eclipse project. <br><br>
</p>
<h2>Third Project: Learning how to Import and Export Files (COMP 123</h2>
<img src="/images/project3.png" alt="Third Project" width="1300">
<p>COMP 123 was a really difficult course for me to function in, due to my constantly mistaking C# for Java. It was difficult to get acquainted with the conventions and iterations that
    C# had, especially in the beginning. But eventually, at the midterm, my professor's amazing teaching finally kicked in and I was able to get the hang of the difficult concepts,
    <i>especially</i> the file exporting and importing. I wanted to showcase this project because it just reminds me of the hard work I put in during the Midterm and such.
    <br><br><br>
</p>
</div>
