<!--services.ejs-->
<!--Julian Lawrence Manahan-->
<!--301148396-->
<!--October 1st, 2021-->
<h2>Offered Services:</h2><br>
<ul><p>Some of my offered services are:</p>
    <li>
         <p> <i class="fas fa-globe"></i> Front-end Website Creation</p>
    </li>
    <li>
        <p><i class="fas fa-car"></i> Java and C# Object Creation</p>
    </li>
    <li> 
        <p><i class="fas fa-database"></i> SQL Database Creation</p>
    </li>
    <li>
        <p><i class="fas fa-project-diagram"></i> File Importing/Exporting</p>
    </li>
</ul><br><br><br>
<ul><p>Some of my non-coding services are:</p>
    <li>
        <p><i class="fas fa-users"></i> Leadership Roles (Inquire for further experience)</p>
    </li>
    <li>
        <p><i class="fas fa-clock"></i> Long-time Dedication</p>
    </li>
    <li>
        <p><i class="fas fa-wind"></i> Quick Learner</p>
    </li>
    <li>
        <p><i class="fas fa-check-double"></i> Responsible Worker</p>
    </li>
</ul>